@font-face {
  font-family: "Cascadia Mono";
  font-style: normal;
  src: local("Cascadia Mono"), url("CascadiaMono.woff2");
}

html {
  color: #d4d4d4;
  background: rgb(30, 30, 30);
  font-family: "Cascadia Mono";
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:hover {
  filter: brightness(75%);
}

.statement {
  color: #c586c0
}

.string {
  color: #ce9178
}

.identifier {
  color: #9cdcfe;
}

.special {
  color: #d7ba7d
}
